doctype html
html 
    head
        title Home Page 
    body 
        h1 Title 
        p This is first paragraph.
        p.paragraph This is Paragraph class
        p.paragraph#paraId This is Para ID 
        p.paraOne.paraTwo This is multiple class.
        div.container(width="100",height="100",style="background-color:red;") this is an example for div with style.
        
        br
        i try inspecting 

        